@import url('https://fonts.googleapis.com/css2?family=Caveat'); /* change font */

body{
    background-image: url('images/cafe.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

.menu {
    color: white;
    background-color: black;
    border-color: saddlebrown;
    border-width: 0.5rem;
    border-style: solid;
    padding: 2rem;
    margin: 1rem 0;
    text-align: center;
    letter-spacing: 0.1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    width: 10%;
    font-family: 'Caveat';
    font-size: large;
}

.menu a{
    color: white;
    letter-spacing: 0;
}

button{
    padding: 0.5rem;
    border-radius: 0.75rem;
    background-color: black;
    color: white;
}

input{
    border-radius: 0.75rem;
    border-width: 0.1rem;
    padding: 0.5rem;
}